
.image-carousel[data-v-517fb5b4] {
    height: 100%;
    margin-top: -12vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-carousel img[data-v-517fb5b4] {
    width: 100%;
}
.image-carousel .controls[data-v-517fb5b4] {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.carousel-control[data-v-5e112476] {
    padding: 1rem;
    color: #ffffff;
    opacity: 0.85;
}
@media (min-width: 744px) {
.carousel-control[data-v-5e112476] {
        font-size: 3rem;
}
}

#modal[data-v-ec2c0bd4] {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2000;
    background-color: rgba(0,0,0,0.85);
}
#modal.show[data-v-ec2c0bd4] {
    display: block;
}
.modal-content[data-v-ec2c0bd4] {
    height: 100%;
    max-width: 105vh;
    padding-top: 12vh;
    margin: 0 auto;
    position: relative;
}
body.modal-open[data-v-ec2c0bd4] {
    overflow: hidden;
    position: fixed;
}
.modal-close[data-v-ec2c0bd4] {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0px 28px 8px;
    font-size: 4em;
    width: auto;
    height: auto;
    background: transparent;
    border: 0;
    outline: none;
    color: #ffffff;
    z-index: 1000;
    font-weight: 100;
    line-height: 1;
}
.modal-content[data-v-ec2c0bd4] {
    width: 100%;
    max-width: 105vh;
    padding-top: 12vh;
    margin: 0 auto;
    position: relative;
}
